body{
  margin: 10px;
}

#bloque1, #bloque2 ,#bloque3{
  border: 1px solid black;
  background-color: #CCCCCC;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#bloque1, #bloque2{
  height: 100px;
  width: 100px;
}

#bloque3{
  width: 360px;
}
#bloque1, #bloque3{
  display: block;
}

#bloque2{
  display: inline-block;
}
