@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  text-align: -moz-center;
  text-align: -ms-center;
  text-align: -o-center;
  text-align: -webkit-center;
}

span{
  float: left;
}

#bloque1,#bloque2,#bloque3{
  display: inline-block;
  margin: 20px 0px;
  padding: 15px 25px 10px 10px;
}

#bloque1,#bloque3{
  background-color: #FFFF00;
}

#bloque2{
  background-color: #ED2251;
}

#bloque3{
  text-transform: uppercase;
}
